# Virtual Environment
venv/
.venv/
env/

# Sensitive Environment Variables
.env

# Python compilation artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Heavy project data files (We only push code, not the databases)
data/raw/fastapi_repo/
data/raw/*.json

# IDE settings
.vscode/
.idea/